chromadb
ddgs
duckduckgo-search
frozenlist
langchain
langchain-chroma
langchain-classic
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
langsmith
sentence-transformers
streamlit
torch